<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Registro</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
  <img src="{% static 'images/logo.png' %}" alt="Logotipo">
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="phone_number" placeholder="Phone number" required>
    <input type="date" name="birthdate" placeholder="Birthdate" required>
    <input type="text" name="description" placeholder="A little description of you" required>
    <button type="button" id="abrirModal">Selecciona tus areas de interes</button>
    <input type="hidden" name="areas_seleccionadas" id="areasSeleccionadas">
    <p>Áreas de interés seleccionadas: <span id="areasSeleccionadasDisplay">Ninguna</span></p>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Registrar</button>
    <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Incia sesión aquí</a></p>
  </form>
    <!-- Modal -->
    <div id="miModal" class="modal" style="display: none;">
      <div class="modal-contenido">
          <span class="cerrar">&times;</span>
          <h2>Áreas de Interés</h2>
          <form>
              <input type="text" id="areaInteresInput" name="nombre_area" placeholder="Escribe tu propia area de interes">
              <ul id="areasInteresList">
                <!-- Las áreas de interés se añadirán aquí dinámicamente -->
              </ul>
              <button type="button">Guardar Selección</button>
          </form>
      </div>
  </div>
  <script src="{% static 'js/register.js' %}"></script>
</body> 
