<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home1.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    {% if messages %}
    <div>
        {% for message in messages %}
            {% if forloop.last %}
                <div class="alert {{message.tag}}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="top-bar">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="post_content" placeholder="Publicar" class="post-input" required>
            <button type="submit">Publicar</button>
        </form>
        
        <div class="username"><p><strong><a href="{% url 'user_profile' usuario.id %}">{{ usuario.nombre }}</a></strong></p></div>
    </div>  
    <div><a href="{% url 'logout'%}" class="button-style">cerrar sesion</a></div>
    <div class="main-content">
        <div class="posts-section">
        {% for publicacion in publicaciones %}
            <div class="publicacion" id="post-{{ publicacion.id }}">
                <p><strong><a href="{% url 'user_profile' publicacion.user.id %}">{{ publicacion.user.nombre }}</a></strong></p>
                <p>publicado  el {{publicacion.fecha_creacion}}</p>
                <p>{{publicacion.text}}</p>
                <button class="like-button" data-post-id="{{ publicacion.id }}">Like</button><span class="like-count">{{publicacion.likes}} likes</span>
                <button class="comment-button"type="button">Comentar</button>
            </div>
        {% endfor %}
        </div>
        <div class="options-section">
            <div class="option"><a href="/grupo_interes/show_new/">nuevos grupos</a> </div>
            <div class="option"><a href="/grupo_interes/feed/">Mis grupos de interés</a></div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.getAttribute('data-post-id');

                fetch('{% url "like_post" %}', { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ post_id: postId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const likeCount = this.nextElementSibling;
                        likeCount.textContent = `${data.likes} likes`; // Actualiza el conteo de likes
                    } else {
                        console.error(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });

        window.setTimeout(function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                alert.style.animation = "fadeOut 1s ease-in-out forwards";
                setTimeout(function() {
                    alert.remove();
                }, 1000); 
            });
        }, 1000); 
    </script>
</body>
</html>
