<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static '/styles/home1.css' %}">
</head>
<body>
    <div class="top-bar">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="post_content" placeholder="Publicar" class="post-input" required>
            <button type="submit">Publicar</button>
        </form>
        <span class="username">{{usuario.nombre}}</span>
    </div>

    <div class="main-content">
        <div class="posts-section">
        {% for publicacion in publicaciones %}
            <div class="publicacion">
                <p><strong>{{publicacion.user}}</strong></p>
                <p>{{publicacion.text}}</p>
                <form method="POST">
                {% csrf_token %}
                <button type="submit" name="like_post" value="{{ publicacion.id }}">Like</button><span class="like-count">{{publicacion.likes}}</span>
                <button>Comentar</button>
            </div>
        {% endfor %}
        </div>

        <div class="options-section">
            <div class="option">Chat</div>
            <div class="option">Grupos de Interés</div>
        </div>
    </div>
</body>
</html>
