<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div>
        <div class="username"><p>{{user.nombre}}</p></div>
        <div class="description"><p>{{user.description}}</p></div>
        <p class="button-home"><a href="{% url 'home1' %}">Home</a></p>
        <div class="area_interes">
            <h2>A {{user.nombre}} le interesa: </h2>
            {% for area in user.areas_interes%}
                <p>{{area.nombre}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="main-content">
        <div class="posts-section">
        {% for publicacion in posts %}
            <div class="publicacion" id="post-{{ publicacion.id }}">
                <p><strong><a href="{% url 'user_profile' publicacion.user.id %}">{{ publicacion.user.nombre }}</a></strong></p>
                <p>publicado  el {{publicacion.fecha_creacion}}</p>
                <p>{{publicacion.text}}</p>
                <button class="like-button" data-post-id="{{ publicacion.id }}">Like</button><span class="like-count">{{publicacion.likes}} likes</span>
                <button class="comment-button"type="button">Comentar</button>
            </div>
        {% endfor %}
        </div>
    </div>
    <script>
        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.getAttribute('data-post-id');

                fetch('{% url "like_post" %}', { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ post_id: postId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const likeCount = this.nextElementSibling;
                        likeCount.textContent = `${data.likes} likes`; // Actualiza el conteo de likes
                    } else {
                        console.error(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
</body>