<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/feed_group.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
    <div class="top-bar">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="post_content" placeholder="Publicar" class="post-input" required>
            <input type="hidden" name="grupo_seleccionado" id="grupoSeleccionado" required>
            <button type="button" id="abrirModal">seleccionar grupo</button>
            <button type="submit">Publicar</button>
        </form>
        <div class="username"><p><strong><a href="{% url 'user_profile' usuario.id %}">{{ usuario.nombre }}</a></strong></p></div>
    </div> 
    <p><a href="/grupo_interes/create/" class="button-style">crea un nuevo grupo</a></p> 
    <p><a href="{% url 'home1' %}" class="button-style">Home</a></p>
    <div class="main-content">
        <div class="posts-section">
        {% for publicacion in publicaciones %}
            <div class="publicacion" id="post-{{ publicacion.id }}">
                <p><strong><a href="{% url 'user_profile' publicacion.user.id %}">{{ publicacion.user.nombre }}</a></strong></p>
                <p><a href="{% url 'grupo_interes:grupo_interes_profile' publicacion.group.id %}">{{ publicacion.group.nombre}}</a></p>
                <p>publicado  el {{publicacion.fecha_creacion}}</p>
                <p>{{publicacion.text}}</p>
                <button class="like-button" data-post-id="{{ publicacion.id }}">Like</button><span class="like-count">{{publicacion.likes}} likes</span>
                <button class="comment-button"type="button">Comentar</button>
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="miModal" class="modal" style="display: none;">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h2>Tus grupos de interes</h2>
            <form>
                <ul id="groupsInteresList">
                    {% for grupo in grupos %}
                        <li data-id="{{ grupo.id }}" data-nombre="{{ grupo.nombre }}">{{ grupo.nombre }}</li>
                    {% endfor %}
                </ul>
                <input type="button" value="Guardar Selección">
            </form>
        </div>
      </div>
    <script src="{% static 'js/feed_group.js' %}"></script>
</body>
</html>
